footer.site-footer(style='background-image: url(/images/big_image_3.jpg);')
    .container
        .row.mb-5
            .col-md-4
                h3 About
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.
            .col-md-6.ml-auto
                .row
                    .col-md-4
                        ul.list-unstyled
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Company
                            li
                                a(href='#') Teachers
                            li
                                a(href='#') Courses
                            li
                                a(href='#') Categories
                    .col-md-4
                        ul.list-unstyled
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Company
                            li
                                a(href='#') Teachers
                            li
                                a(href='#') Courses
                            li
                                a(href='#') Categories
                    .col-md-4
                        ul.list-unstyled
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Company
                            li
                                a(href='#') Teachers
                            li
                                a(href='#') Courses
                            li
                                a(href='#') Categories
        .row
            .col-md-12
                p
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    | Copyright ©
                    script.
                        document.write(new Date().getFullYear());
                    |  All rights reserved | This template is made with 
                    i.fa.fa-heart-o(aria-hidden='true')
                    |  by 
                    a(href='https://colorlib.com', target='_blank') Colorlib
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    // END footer
                    // loader
                    #loader.show.fullscreen
                        svg.circular(width='48px', height='48px')
                            circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
                            circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#f4b214')
                    include scripts
