script(src='/js/jquery-3.2.1.min.js')
script(src='/js/jquery-migrate-3.0.0.js')
script(src='/js/popper.min.js')
script(src='/js/popper.min.js.map')
script(src='/js/bootstrap.min.js')
script(src='/js/bootstrap.min.js.map')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.waypoints.min.js')
script(src='/js/jquery.stellar.min.js')
script(src='/js/main.js')