link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900', rel='stylesheet')
link(rel='stylesheet', href='/css/bootstrap.css')
link(rel='stylesheet', href='/css/bootstrap.css.map')
link(rel='stylesheet', href='/css/animate.css')
link(rel='stylesheet', href='/css/owl.carousel.min.css')
link(rel='stylesheet', href='/fonts/ionicons/css/ionicons.min.css')
link(rel='stylesheet', href='/fonts/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/fonts/flaticon/font/flaticon.css')
link(rel='stylesheet', href='/css/style.css')