extends layout/index
block banner
    section.site-hero.overlay(data-stellar-background-ratio='0.5', style='background-image: url(images/big_image_1.jpg);')
        .container
            .row.align-items-center.site-hero-inner.justify-content-center
                .col-md-8.text-center
                    .mb-5.element-animate
                        h1 Learn From Doing
                        p.lead Learn something new every day with skwela lorem ipsum dolor sit amet.
                        p
                            a.btn.btn-primary(href='#') Sign up and get a 7-day free trial
    // END section
block features
    section.school-features.d-flex(style='background-image: url(images/big_image_3.jpg);')
        .inner
            .media.d-block.feature
                .icon
                    span.flaticon-video-call
                .media-body
                    h3.mt-0 Online trainings from experts
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!
            .media.d-block.feature
                .icon
                    span.flaticon-student
                .media-body
                    h3.mt-0 Learn anywhere in the world
                    p
                        | Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.
            .media.d-block.feature
                .icon
                    span.flaticon-video-player-1
                .media-body
                    h3.mt-0 Creative learning video
                    p
                        | Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.
            .media.d-block.feature
                .icon
                    span.flaticon-audiobook
                .media-body
                    h3.mt-0 Audio learning
                    p
                        | Harum, adipisci, aspernatur. Vero repudiandae quos ab debitis, fugiat culpa obcaecati, voluptatibus ad distinctio cum soluta fugit sed animi eaque?
block siteFeatures
    section.site-section
        .container
            section.school-features.text-dark.d-flex
                .inner
                    .media.d-block.feature
                        .icon
                            span.flaticon-video-call
                        .media-body
                            h3.mt-0 Online trainings from experts
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!
                    .media.d-block.feature
                        .icon
                            span.flaticon-student
                        .media-body
                            h3.mt-0 Learn anywhere in the world
                            p
                                | Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.
                    .media.d-block.feature
                        .icon
                            span.flaticon-video-player-1
                        .media-body
                            h3.mt-0 Creative learning video
                            p
                                | Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.
                    .media.d-block.feature
                        .icon
                            span.flaticon-audiobook
                        .media-body
                            h3.mt-0 Audio learning
                            p
                                | Harum, adipisci, aspernatur. Vero repudiandae quos ab debitis, fugiat culpa obcaecati, voluptatibus ad distinctio cum soluta fugit sed animi eaque?
            section.school-features.text-dark.last.d-flex
                .inner
                    .media.d-block.feature
                        .icon
                            span.flaticon-student-1
                        .media-body
                            h3.mt-0 Online trainings from experts
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!
                    .media.d-block.feature
                        .icon
                            span.flaticon-interface
                        .media-body
                            h3.mt-0 Learn anywhere in the world
                            p
                                | Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.
                    .media.d-block.feature
                        .icon
                            span.flaticon-book
                        .media-body
                            h3.mt-0 Creative learning video
                            p
                                | Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.
                    .media.d-block.feature
                        .icon
                            span.flaticon-geography
                        .media-body
                            h3.mt-0 Audio learning
                            p
                                | Harum, adipisci, aspernatur. Vero repudiandae quos ab debitis, fugiat culpa obcaecati, voluptatibus ad distinctio cum soluta fugit sed animi eaque?
block signupTrial
    section.section-cover(data-stellar-background-ratio='0.5', style='background-image: url(images/big_image_3.jpg);')
        .container
            .row.justify-content-center.align-items-center.intro
                .col-md-7.text-center.element-animate
                    h2 Sign Up And Get a 7-day Free Trial
                    p.lead.mb-5
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quidem tempore expedita facere facilis, dolores!
                    p
                        a.btn.btn-primary(href='#') Sign up and get a 7-day free trial
    // END section                                
block topCourses
    section.site-section.bg-light
        .container
            .row.justify-content-center.mb-5
                .col-md-7.text-center
                    h2 Top Courses
                    p.lead
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.
            .row.top-course
                .col-lg-2.col-md-4.col-sm-6.col-12
                    a.course(href='#')
                        img(src='images/webdesign.jpg', alt='Image placeholder')
                        h2 Web Design 101
                        p Enroll Now
                .col-lg-2.col-md-4.col-sm-6.col-12
                    a.course(href='#')
                        img(src='images/wordpress.jpg', alt='Image placeholder')
                        h2 Learn How To Develop WordPress Plugin
                        p Enroll Now
                .col-lg-2.col-md-4.col-sm-6.col-12
                    a.course(href='#')
                        img(src='images/javascript.jpg', alt='Image placeholder')
                        h2 JavaScript 101
                        p Enroll Now
                .col-lg-2.col-md-4.col-sm-6.col-12
                    a.course(href='#')
                        img(src='images/photoshop.jpg', alt='Image placeholder')
                        h2 Photoshop Design 101
                        p Enroll Now
                .col-lg-2.col-md-4.col-sm-6.col-12
                    a.course(href='#')
                        img(src='images/reactjs.jpg', alt='Image placeholder')
                        h2 Learn Native ReactJS
                        p Enroll Now
                .col-lg-2.col-md-4.col-sm-6.col-12
                    a.course(href='#')
                        img(src='images/angularjs.jpg', alt='Image placeholder')
                        h2 Learn AngularJS 2
                        p Enroll Now
        // END section
block content
    section.overflow
        .container
            .row.justify-content-center.align-items-center
                .col-lg-7.order-lg-3.order-1.mb-lg-0.mb-5
                    img.img-md-fluid(src='images/person_testimonial_1.jpg', alt='Image placeholder')
                .col-lg-1.order-lg-2
                .col-lg-4.order-lg-1.order-2.mb-lg-0.mb-5
                    blockquote.testimonial
                        | “ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt nihil ab cumque molestiae commodi. ”
                    p — John Doe, Certified ReactJS Student        