.col-md-4.sidebar
    .sidebar-box
        form.search-form(action='#')
            .form-group
                span.icon.fa.fa-search
                input.form-control(type='text', placeholder='Type a keyword and hit enter')
    .sidebar-box
        .categories
            h3 Categories
            li
                a(href='#')
                    | Courses 
                    span (12)
            li
                a(href='#')
                    | News 
                    span (22)
            li
                a(href='#')
                    | Design 
                    span (37)
            li
                a(href='#')
                    | HTML 
                    span (42)
            li
                a(href='#')
                    | Web Development 
                    span (14)
    .sidebar-box
        img.img-fluid.mb-4(src='/images/person_1.jpg', alt='Image placeholder')
        h3 About The Author
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
        p
            a.btn.btn-primary.btn-sm(href='#') Read More
    .sidebar-box
        h3 Paragraph
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!