doctype html
html(lang='en')
    include includes/head
    include includes/header
    block banner
    block features
    block siteFeatures
    block signupTrial
    block topCourses
    block content
    include includes/footer
